body {
    margin-right: auto;
    margin-left: auto;
    background-color: #1f1f1f;
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
